.comingSoon h1 {
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1.7px;
    color: white;
    line-height: 1.4em;
    position: relative;
    margin: 0 0 40px;
    padding: 0 0 20px;
}

.comingSoon h1::after {
    position: absolute;
    right: auto;
    bottom: -1px;
    display: block;
    width: 125px;
    height: 4px;
    content: "";
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.comingSoon {
    padding: 80px 0;
    background-image: url(../../Assets/Images/slide-3.png);
    background-size: cover;
    background-position: center;
    background-color: black;
    margin-top: 80px;
}

.coming__detail span {
    font-size: 14px;
    color: #ec7532;
}

.coming__detail h2 {
    font-size: 34px;
}

.coming__detail .fa-star {
    font-size: 14px;
    color: #fbbd61;
}

.coming__date {
    opacity: 0.75;
    font-size: 14px;
    margin-left: 10px;
    color: white !important;
}

.coming__detail a {
    color: #ec7532;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all 0.5s;
}

.coming__detail a:hover {
    color: #fbbd61;
}

.coming__trailer {
    position: relative;
}

.coming__trailer i {
    color: white;
    width: 84px;
    height: 84px;
    display: block;
    border: 2px solid #ec7532;
    border-radius: 50%;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coming__trailer img {
    width: 100%;
    height: auto;
    object-fit: fill;
}
